#contenedor{
  display:none;
}
body{
  font-family: Arial;
  background:#f2f2f2;
  padding:15px;
  max-width:500px;
  margin:auto;
}

h1{
  text-align:center;
}

#info{
  display:flex;
  justify-content:space-between;
  margin-bottom:10px;
}

#contenedor{
  background:white;
  padding:15px;
  border-radius:10px;
}

button{
  width:100%;
  padding:14px;
  margin-top:8px;
  border:none;
  border-radius:8px;
  font-size:16px;
  background:#007bff;
  color:white;
}

.opcion{
  background:#e9ecef;
  color:black;
}
.nombre,
.direccion{
    display:block;
    width:100%;
    margin:5px;
    padding:12px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    background:#f1f1f1;
    color:black;
}

.nombre:disabled,
.direccion:disabled{
    opacity:1;
}
#juego{
    display:flex;
    gap:20px;
}

#columnaNombres,
#columnaDirecciones{
    flex:1;
}

.nombre{
    text-align:left;
}

.direccion{
    text-align:left;
}